@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');

$maxWidth: 1920;
$maxWidthContainer: 1245;

$accent: #07AF91;
$accentTwo: #016CA8;
$accentGradient: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);

@mixin adaptive-value ($property, $startSize, $minSize, $type) {
 $addSize: $startSize - $minSize;

 @if $type==1 {
  // Толко если меньше контейнера
  #{$property}: $startSize + px;

  @media (max-width: #{$maxWidthContainer + px}) {
   #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
  }
 }

 @else if $type==2 {
  // Только если больше контейнера
  #{$property}: $startSize + px;

  @media (min-width: #{$maxWidthContainer + px}) {
   #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
 }

 @else {
  // Всегда 
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
 }
}

%montserrat-300 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 font-style: normal;
}

%montserrat-400 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 font-style: normal;
}

%montserrat-400-i {
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 font-style: italic;
}

%montserrat-500 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
 font-style: normal;
}

%montserrat-600 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 600;
 font-style: normal;
}

%montserrat-700 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 700;
 font-style: normal;
}

%montserrat-800 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 800;
 font-style: normal;
}

%montserrat-500 {
 font-family: 'Inter', sans-serif;
 font-weight: 500;
 font-style: normal;
}

%montserrat-600 {
 font-family: 'Inter', sans-serif;
 font-weight: 600;
 font-style: normal;
}

%montserrat-800 {
 font-family: 'Inter', sans-serif;
 font-weight: 800;
 font-style: normal;
}

.page {
 overflow: hidden;
 display: flex;
 flex-direction: column;
 min-height: 100%;
 @extend %montserrat-400;
}

.container {
 max-width: $maxWidthContainer + px;
 padding: 0 15px;
 margin: 0 auto;
 height: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 bottom: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0, 0, 0, 0);
 overflow: hidden;
}

.footer {
 margin-top: auto;
}

.hidden {
 display: none;
}

.lock {
 overflow: hidden;
}

.ibg {
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 z-index: -1;

 img,
 source {
  display: none;
 }
}

////////////////////////////////

.green-btn {
 border: 2px solid transparent;
 background: $accent;
 border-radius: 5px;
 @extend %montserrat-500;
 @include adaptive-value("font-size", 18, 14, 1);
 @include adaptive-value("padding-left", 45, 20, 1);
 @include adaptive-value("padding-right", 45, 20, 1);
 line-height: 3;
 color: #FFFFFF;
 text-decoration: none;
 transition: all .3s ease;

 @media (min-width: 768px) {
  &:hover {
   border: 2px solid $accent;
   background: transparent;
  }
 }
}

.blue-btn {
 @extend %montserrat-600;
 font-size: 20px;
 @include adaptive-value("font-size", 20, 16, 1);
 line-height: 4;
 padding: 0 33px;
 color: #FFFFFF;
 border-radius: 5px;
 text-decoration: none;
 display: inline-block;
 transition: all .3s ease;
 position: relative;
 border-radius: 10px;
 overflow: hidden;

 &::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: $accentGradient;
  opacity: 1;
  transition: all .3s ease;
 }

 &::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(276.41deg, $accentTwo 100%, #61B5E4 0);
  opacity: 0;
  transition: all .3s ease;
 }

 @media (min-width: 768px) {
  &:hover {
   &::after {
    opacity: 0;
   }

   &::before {
    opacity: 1;
   }
  }

  &:active {
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
 }
}

///////////////////////////////////////////////////////////////

.nav {

 &__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  @include adaptive-value("margin-left", 15, 10, 1);
  @include adaptive-value("margin-right", 15, 10, 1);
 }

 &__item+li {
  @include adaptive-value("margin-left", 50, 30, 1);
 }

 &__link {
  text-decoration: none;
  color: #fff;
  @extend %montserrat-500;
  @include adaptive-value("font-size", 18, 16, 1);
  line-height: 1;
  position: relative;

  &::after {
   position: absolute;
   content: "";
   bottom: 0;
   width: 0%;
   height: 2px;
   left: 0;
   background: $accent;
   transition: all .3s ease;
  }

  @media (min-width: 768px) {
   &:hover {
    &::after {
     width: 100%;
    }
   }
  }
 }

 @media (max-width: 768px) {
  &__list {
   display: none;
  }
 }
}

.header {
 position: relative;
 color: #fff;
 min-height: 100vh;
 flex-direction: column;
 display: flex;
 align-items: center;
 justify-content: center;

 &__bg-wrapper {
  background: rgba(#000000, .6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 }

 &__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
 }

 &__wrapper {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
 }

 &__top {
  margin-bottom: auto;
 }

 &__content {
  margin-bottom: auto;
  padding-bottom: 200px;
 }
}

.header-top {
 @include adaptive-value("padding-top", 45, 18, 1);
 @include adaptive-value("padding-bottom", 45, 18, 1);

 &__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 &__nav {}

 &__btn {}

 &__btn-menu {
  display: none;
 }

 @media (max-width: 768px) {
  &__wrapper {
   justify-content: center;
  }

  &__logo-wrapper {
   margin-right: auto;
   width: 100px;
  }

  &__logo {
   width: 100%;
   object-fit: cover;
  }

  &__btn {
   @include adaptive-value("margin-right", 30, 10, 1);
   line-height: 2.6;
   height: 40px;
  }

  &__btn-menu {
   width: 40px;
   height: 40px;
   background: #fff;
   border-radius: 5px;
   border: none;
   display: block;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column-reverse;
   cursor: pointer;

   span {
    display: block;
    background: $accent;
    height: 1px;

    &+span {
     margin-bottom: 2px;
    }

    &:nth-child(odd) {
     width: 18px;
    }

    &:nth-child(even) {
     width: 12px;
    }
   }

   &.active {
    span {
     margin-left: 5px;

     &+span {
      margin-top: 0;
     }

     &:nth-child(1) {
      transform: rotate(50deg) translateY(3px);
     }

     &:nth-child(3) {
      transform: rotate(-50deg) translateY(-3px);
     }

     &:nth-child(2),
     &:nth-child(4) {
      transform: scale(0);
     }
    }
   }
  }
 }
}

.header-content {

 &__wrapper {}

 &__title-wrapper {
  @extend %montserrat-700;
  @include adaptive-value("font-size", 43, 24, 1);
  line-height: 1.4;
  text-transform: uppercase;
 }

 &__title {
  @extend %montserrat-700;
  @include adaptive-value("font-size", 43, 24, 1);
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  margin-left: -10px;

  span {
   border-radius: 3px;
   background: $accent;
   padding: 5px 15px;
   display: inline-block;

   &:last-child {
    margin-left: -5px;
   }
  }
 }

 &__sup-title {
  font-size: 34px;
  @include adaptive-value("font-size", 24, 16, 1);
  line-height: 2.35;
  margin: 0;
 }

 &__btn {
  margin-top: 35px;
 }

 @media (max-width: 768px) {
  text-align: center;

  &__title {
   margin-left: 0;
  }
 }

 @media (max-width: 360px) {
  &__title {
   margin: 10px 0;

   span {
    padding: 5px 10px;
   }
  }

  &__sup-title {
   margin-top: 20px;
  }

  &__btn {
   width: 100%;
   max-width: 220px;
   margin: 44px auto 0;
  }
 }
}